
{% extends "main.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if request.user.is_authenticated %}
                <p>
                    Welcome {{ request.user.username }}. When you are done here, you may <a href="{{pipelinebase}}/logout?next={{request.get_full_path | urlencode}}">logout</a>.
                </p>
                <p>
                    You have access to the following pipeline stages:
                </p>
                {% if perms.auth.pipeline_review or perms.auth.pipeline_annotate %}
                    <h2>
                        Data Entry:
                    </h2>
                    <ul>
                        {% if perms.auth.pipeline_review %}
                            <li>
                                <a href="{{pipelinebase}}/review/triage">Triage</a>
                            </li>
                        {% endif %}
                        {% if perms.auth.pipeline_annotate and annotation %}
                            <li><a href="{{pipelinebase}}/annotate">Annotate</a></li>
                        {% endif %}
                        {% if perms.auth.draft_solicitation %}
                            <li><a href="{{pipelinebase}}/draft_solicitation">Draft solicitation</a></li>
                      {% endif %}                        
                    </ul>
                {% endif %}
                {% if perms.auth.pipeline_review %}
                    <h2>
                        Review:
                    </h2>
                    <ul>
                        {% for button in buttons %}
                            <li><a href="{{pipelinebase}}/review/{{button.queue}}">{{button.name}}</a></li>
                        {% endfor %}
                    </div>
                    </ul>
                {% endif %}
                {% if perms.auth.pipeline_statistics %}
                    <h2>
                        <a href="{{pipelinebase}}/statistics">Statistics</a>
                    </h2>
                {% endif %}
                


            {% else %}
                You must <a href="{{pipelinebase}}/login?next={{request.get_full_path | urlencode}}">Login</a> to do anything here.
            {% endif %}
        </div>
    </div>
{% endblock %}
