{% extends "main.html" %}

{% block head %}
    <style>
        td {
            padding-right: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        You are logged in as {{ request.user.username }} but you do not have permission to access the requested page;
        you may login as a different user here.<br><br>
    {% endif %}
    <form method="post" action="{{pipelinebase}}/login">
        {% csrf_token %} 
        <input name="next" type="hidden" value="{{next}}" />
        <table>
            <tr>
                <td>Username</td><td><input type="text" name="username" id="username" value="" style="width:10em;"/></td>
            </tr>
            <tr>
                <td>Password</td><td><input type="password" name="password" id="password" value="" style="width:10em;"/></td>
            </tr>
        </table>
        <input type="submit" name="login" id="login" value="Login">
    </form>
    <br><br>
    Note: Logging-in sets a cookie, <code>session</code>. An additional cookie,
    <code>csrftoken</code>, is set whenever you access most pages involving data entry
    associated with an individual user, including this one, to protect against
    third-parties impersonating users. You may delete or block these cookies and
    continue to access public pages, but access-restricted pages will not work.
    Both cookies are cleared when you log out.
{% endblock %}
