{% extends "main.html" %}

{% block head %}
    <style>
        .bottom-margin {
            margin-bottom: 2px;
        }
    </style>
    <script>
        const id_ = "{{paper_id}}";
        {% if solicit_email_field and solicit_message_template and solicit_subject_template %}
            const subject_template = "{{solicit_subject_template}}";
            const email_template = "{{solicit_message_template}}";
            function send_email(recipient, subject, body) {
                window.location.href=("mailto:" + recipient + "?subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(body));
            }
            function substitute_values(text) {
                for (let item of $(".globaldata").find("input,textarea")) {
                    let fieldname = item.getAttribute("data-fieldname");
                    text = text.replace(`{{${fieldname}}}`, item.value);
                }
                text = text.replace("{{id}}", id_);
                return text;
            }
            function do_send_email() {
                send_email(
                    $(`[data-fieldname="{{solicit_email_field}}"]`).val(),
                    substitute_values(subject_template),
                    substitute_values(email_template)
                );
            }
        {% endif %}
        const initial_userdata = {{userdata|safe}};
        const signature_entry = `
        <div class="col-sm-12 data-block" style="border: 1px solid black; padding: 1em; 
background-color: white; margin-bottom: 1em">
            {% for field in userentry.fields %}
                <div class="row bottom-margin">
                    <div class="col-md-4 text-md-right" title="{{field.help_text}}">
                        <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="{{field.help_text}}" data-placement="top">
                            <span style="cursor:help">{{field.name}}</span>
                            <i class="far fa-question-circle"></i>
                        </a>
                    </div>
                    <div class="col-md-8"><{% if field.multiline or readonly %}textarea rows="{% if field.multiline %}4{%else%}1{%endif%}"{%else%}input{%endif%} type="text" class="userentry" data-fieldname="{{field.field}}" {% if not readonly %} placeholder="{{field.example}}" {% endif %} style="width:100%" {% if readonly or field.readonly and not request.user.is_authenticated %}readonly{% endif %}>{% if field.multiline or readonly %}</textarea>{% endif %}</div>
                    <div class="d-md-none">&nbsp;</div>                
                </div>
            {% endfor %}
            {% if userentry.allow_multiple and not readonly %}
                <br>
                <div style="text-align: right">
                    <button class="btn" onclick="add_an_entry_form()">
                        {% if userentry.multiple_button_name %}
                            {{ userentry.multiple_button_name }}
                        {% else %}
                            Add another
                        {% endif %}
                    </button>
                </div>
            {% endif %}
        </div>`;
        function add_an_entry_form() {
            $('#entryforms').append(signature_entry);
            enable_popovers();
        }
        function enable_popovers() {
            $('[data-toggle="popover"]').popover();
        }
        $(() => {
            add_an_entry_form();
            {% if userdata != "{}" %}
                for (let item of $(".globaldata").find("input,textarea")) {
                    let fieldname = item.getAttribute("data-fieldname");
                    let my_data = initial_userdata["global_fields"][fieldname];
                    if (my_data != undefined) {
                        item.value = my_data;
                    }
                }
                if (initial_userdata.local_data != undefined) {
                    for (let i = 0; i < initial_userdata.local_data.length - 1; i++) {
                        add_an_entry_form();
                    }
                }
                let all_data_blocks = $('.data-block');
                // at this point we have a form for each set of local_data
                // so populate them
                for (let i = 0; i < initial_userdata.local_data.length; i++) {
                    let my_local_data = initial_userdata.local_data[i];
                    let block = all_data_blocks[i];
                    for (let item of $(block).find("input,textarea")) {
                        let fieldname = item.getAttribute("data-fieldname");
                        let my_data = my_local_data[fieldname];
                        if (my_data != undefined) {
                            item.value = my_data;
                        }
                    }                    
                }
            {% endif %}
        });

        function get_block_data(block) {
            let data = {};
            for (let item of block.find("input,textarea")) {
                data[item.getAttribute("data-fieldname")] = item.value;
            }
            return data;
        }

        function gather_data() {
            let data = {"global_fields": get_block_data($(".globaldata"))};
            let local_data = [];
            for (let block of $('.data-block')) {
                local_data.push(get_block_data($(block)));
            }
            data["local_data"] = local_data;
            return data;
        }
        {% if not readonly %}
            function submit() {
                let data = gather_data();
                $.post(
                        `{{pipelinebase}}/update_userdata/{{paper_id}}`, 
                        {"userdata": JSON.stringify(gather_data())}
                    ).fail(() => {document.write('update failed; reload?')})
                    .done(() => {
                        window.location.href = '{{pipelinebase}}/thankyou';
                    });
            }
        {% endif %}
        </script>
    <style>
        .highlighted {
            font-weight: bold;
        }
        .notificationzone {
            position: fixed!important;
            top: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{pagetitle}}</h1>
            <p>
                {{header|safe}}
            </p>
            <div class="globaldata">
                {% for field in userentry.global_fields %}
                    <div class="row bottom-margin">
                        <div class="col-md-4 text-md-right" title="{{field.help_text}}">
                            <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="{{field.help_text}}" data-placement="top">
                                <span style="cursor:help">{{field.name}}</span>
                                <i class="far fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="col-md-8"><{% if field.multiline or readonly %}textarea rows="{% if field.multiline %}4{%else%}1{%endif%}"{%else%}input{%endif%} type="text" {% if readonly or field.readonly and not request.user.is_authenticated %}readonly{% endif %} data-fieldname="{{field.field}}" {% if not readonly %} placeholder="{{field.example}}" {% endif %} style="width:100%">{% if field.multiline or readonly %}</textarea>{% endif %}</div>
                        <div class="d-md-none">&nbsp;</div>                
                    </div>
                {% endfor %}
            </div>

            <div id="entryforms"></div>
            {% if not readonly %}
                <div style="text-align: right">
                    <button class="btn" style="background-color: blue; color: white" onclick="submit()">Submit</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
