{% extends "main.html" %}



{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Enter query for MongoDB Pipeline collection</h1>
            <br>
            <form action="{{pipelinebase}}/query" method="POST">
                {% csrf_token %}
                <textarea style="width:100%; height: 10em" name="q" placeholder='{"status": "triage"}'></textarea>
                <br>
                <input type="submit" value="Execute">
            </form>
        </div>
    </div>
{% endblock %}
