{% extends "main.html" %}

{% block head %}
<script>
    $(() => {
        $('#counttable').bootstrapTable({
            pagination: true,
            search: true,
            data: {{countjson | safe}},
            formatSearch: () => 'filter'
        });
    });
    
    function review_link(queue) {
        return `<a href="{{pipelinebase}}/review/${queue}">${queue}</a>`
    }
</script>
<style>
    #counttable > th, td {
        margin-right: 1em;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="counttable" data-toggle="counttable">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="n" data-formatter="review_link">
                            Status
                        </th>
                        <th data-sortable="true" data-field="c">
                            Number of papers
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
